{% load static %}
    <!-- Barra Lateral Esquerda -->
        
        <!-- Cabeçalho -->
        <div class="cabecalho">
            <img src="{% static 'assets\logo\embrapii_desenho.png' %}" alt="Logo Embrapii" class="top-logo">
            <div class="titulo">
                <span class="titulo__parte1">data</span><span class="titulo__parte2">pii</span><br>
            </div><br>
        </div>
        
        <!-- Tabs -->
        <div class="tabs">

            <!-- Home -->
            <a class="tab {% if request.resolver_match.url_name == 'home' %}active-tab{% endif %}" href="{% url 'home' %}">
                <div class="tab-icone">
                    <i class="material-symbols-outlined" style="font-size: 1.3vw;">home</i>
                </div>
                <div class="tab-nome">
                    Home
                </div>
            </a>

            <!-- Projetos Embrapii -->
            <a class="tab {% if request.resolver_match.url_name == 'projetos' %}active-tab{% endif %}" href="{% url 'projetos' %}">
                <div class="tab-icone">
                    <i class="material-symbols-outlined" style="font-size: 1.3vw;">deployed_code</i>
                </div>
                <div class="tab-nome">
                    Projetos
                </div>
            </a>

            <!-- Unidades Embrapii -->
            <a class="tab {% if request.resolver_match.url_name == 'unidades_embrapii' %}active-tab{% endif %}" href="{% url 'unidades_embrapii' %}">
                <div class="tab-icone">
                    <i class="material-symbols-outlined" style="font-size: 1.3vw;">adjust</i>
                </div>
                <div class="tab-nome">
                    Unidades Embrapii
                </div>
            </a>

            <!-- Centros de Competências -->
            <a class="tab {% if request.resolver_match.url_name == 'centros_competencias' %}active-tab{% endif %}" href="{% url 'centros_competencias' %}">
                <div class="tab-icone">
                    <i class="material-symbols-outlined" style="font-size: 1.3vw;">hub</i>
                </div>
                <div class="tab-nome">
                    Centros de Competência
                </div>
            </a>
            
            <!-- Relações com o Mercado -->
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if 'rm_eventos' in current_url or 'rm_interacoes' in current_url %}active-tab{% endif %}" href="{% url 'rm_eventos' %}">
                <div class="tab-icone">
                    <i class="material-symbols-outlined" style="font-size: 1.3vw;">webhook</i>
                </div>
                <div class="tab-nome">
                    Relações com o mercado
                </div>
            </a>
            {% endwith %}



            <!-- Produtos Informacionais -->
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if 'pinfo_dashboards' in current_url or 'pinfo_relatorios' in current_url or 'pinfo_apresentacoes' in current_url %}active-tab{% endif %}" href="{% url 'pinfo_dashboards' %}">
                <div class="tab-icone">
                    <i class="material-symbols-outlined" style="font-size: 1.3vw;">space_dashboard</i>
                </div>
                <div class="tab-nome">
                    Produtos Informacionais
                </div>
            </a>
            {% endwith %}
 



    
        </div>

        <!-- Logout -->
        <div class="tabs logout">
            <a class="tab {% if request.resolver_match.url_name == 'meus_dados' %}active-tab{% endif %}" href="{% url 'meus_dados' %}">
                <div class="tab-icone">
                    <span class="material-symbols-outlined">person</span>
                </div>
                <div class="tab-nome">
                    Meus Dados
                </div>
            </a>
            <a class="tab sair" href="{% url 'login' %}">
                <div class="tab-icone">
                    <span class="material-symbols-outlined">logout</span>
                </div>
                <div class="tab-nome">
                    Sair
                </div>
            </a>
        </div>