{% extends 'data_embrapii/partials/base_main.html' %}
{% load static %}
{% block extra_head %}
    <!-- CSS Específico -->
    <link rel="stylesheet" href="{% static 'styles/data_embrapii/dataviz.css' %}">

{% endblock %}

{% block content %}    

    <div class="page_dataviz">
        
        <div class="area_titulo">
           Lista de Dataviz
        </div>
        
        <div class="area_conteudo">
            
            <div class="area_filtros">

                <div class="area_filtros_filtros">

                    <!-- Status Privacidade -->
                    {% include "data_embrapii/componentes/_select.html" with select_id="filtroStatusPrivacidade" label="Status Privacidade" options=choices_status_privacidade width='160px' %}

                    <!-- Ferramentas -->
                    {% include "data_embrapii/componentes/_select.html" with select_id="filtroFerramenta" label="Ferramenta" options=choices_ferramentas %}

                    <!-- Dono do Produto -->
                    {% include "data_embrapii/componentes/_select.html" with select_id="filtroDonoProduto" label="Dono do Produto" options=choices_dono_produto %}

                    <!-- Fontes dos Dados -->
                    {% include "data_embrapii/componentes/_select.html" with select_id="filtroFontesDados" label="Fontes dos Dados" options=choices_fontes_dados %}

                </div>
                

                <div class="area_filtros_inserir" id="btnInserirProdutoInformacional">
                    <i class="material-symbols-outlined" style="font-size: 3vw;">add_circle</i>
                    Inserir
                </div>
                
            </div>
            
            <div class="area_cards">
                
                {% for item in infoprodutos %}
                <div class="box_dataviz">
    
                    <div class="box_dataviz_area1">
                        <div class="box_dataviz_titulo">
                            <span class="box_dataviz_titulo_titulo">{{ item.titulo }}</span>
                            <span class="box_dataviz_titulo_subtitulo">{{ item.tipo_produto }}</span>
                        </div>
                        <div class="box_dataviz_descricao">
                            
                            <div class="box_dataviz_descricao_parte1">
                                Data da criação: {{ item.data_criacao|date:'d/m/Y' }}<br>
                                Responsável Técnico: GED/DPG<br>
                                Ferramenta: {{ item.ferramenta }}<br>
                                Fonte dos dados: {{ item.fonte_dados }}<br>
                            </div>
    
                            <div class="box_dataviz_descricao_parte2">
                                {{ item.descricao }}
                            </div>
                        </div>
                    </div>
    
                    <div class="box_dataviz_area2">
                        <a href="{{ item.link }}" target="_blank" style="text-decoration: none; color: inherit;">
                            <i class="material-symbols-outlined" style="font-size: 3vw;">open_in_new</i><br>
                            Acessar
                        </a>
                    </div>
                    
                    
                </div>
                {% endfor %}
    
            </div>
        </div>


        
    </div>

    <!-- Modais -->
    {% include 'data_embrapii/modal/modal_infoproduto.html' %}

    <!-- Javascript -->
    <script src="{% static 'js/data_embrapii/produtosInformacionais.js' %}"></script>    
    
{% endblock %}