.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
}

/* Estiliza a barra de rolagem */
.page::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

/* Estiliza o "polegar" (thumb) da barra */
.page::-webkit-scrollbar-thumb {
    background-color: #31ad93; /* Cor do thumb */
    border-radius: 5px; /* Deixa as bordas arredondadas */
    border: 2px solid transparent; /* Espaço ao redor do thumb */
    background-clip: content-box; /* Evita que o background do thumb se sobreponha ao espaço */
}

/* Estiliza a trilha (track) da barra */
.page::-webkit-scrollbar-track {
    background-color: transparent; /* Cor da trilha */
    border-radius: 5px; /* Borda arredondada */
}

/* Quando o thumb está ativo (clicado) */
.page::-webkit-scrollbar-thumb:active {
    background-color: #2cad91; /* Cor mais escura ao clicar */
}
