{% extends "data_embrapii/partials/estrutura_padrao.html" %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/data_embrapii/docuumentos/documentos.css' %}">
{% endblock %}

{% block titulo_pagina %}
    Documentos
{% endblock %}

{% block filtros %}
    <!-- Status Privacidade -->
    {% include "data_embrapii/componentes/select.html" with select_id="filtroStatusPrivacidade" label="Status Privacidade" options=choices_status_privacidade width='160px' %}

    <!-- Ferramentas -->
    {% include "data_embrapii/componentes/select.html" with select_id="filtroFerramenta" label="Ferramenta" options=choices_ferramentas %}

    <!-- Dono do Produto -->
    {% include "data_embrapii/componentes/select.html" with select_id="filtroDonoProduto" label="Dono do Produto" options=choices_dono_produto %}

    <!-- Fontes dos Dados -->
    {% include "data_embrapii/componentes/select.html" with select_id="filtroFontesDados" label="Fontes dos Dados" options=choices_fontes_dados %}
    
{% endblock %}

{% block cards %}
    {% for item in infoprodutos %}
    {% include "data_embrapii/dashboards/card_infoproduto.html" with titulo=item.titulo tipo_produto=item.tipo_produto status_privacidade=item.status_privacidade data_criacao=item.data_criacao ferramenta=item.ferramenta fonte_dados=item.fonte_dados descricao=item.descricao link=item.link %}
    {% endfor %}
{% endblock %}

 <!-- Javascript -->
 <script src="{% static 'js/data_embrapii/produtosInformacionais.js' %}"></script>  