.page {
    display: grid;
    grid-template-rows: 5% 95%;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 10px 20px 0px 20px;
}

.area_titulo {
    font-size: 1.5rem;
    color: white !important;
    font-weight: bold;
    
}

.area_conteudo {
    display: grid;
    grid-template-rows: 20% 80%;

}

.area_filtros {
    display: grid;
    grid-template-columns: 90% 10%;

    align-items: center;
    justify-content: flex-start;
}

.area_filtros_inserir{
    display: flex;
    flex-direction: column;
    color: white;

    align-items: center;
    justify-content: center;
}

.area_filtros_inserir:hover{
    cursor: pointer;
}

.area_filtros_filtros {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 10px; */
}

.area_cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    color:white;

    overflow-y: scroll;
    overflow-x: none;

    scrollbar-width: none;
}

.area_cards::-webkit-scrollbar {
    width: 0;
    height: 0;
}